/*-----------------------------------------
[Table Of Content]

    01. Typography CSS
    02. Color CSS
    03. Common Style CSS
        3.0 - Template Spacing
        3.1 - Buttons Style
        3.2 - Background Image
        3.3 - Overflow
        3.4 - Section title Style
        3.5 - List Style
        3.6 - Site Content Wrapper
        3.7 - Scroll Top Button
        3.8 - LightSlider Customization
        3.9 - Tippy Customization
        3.10 - Magnific JS Customization
        3.11 - Blockquote Style
        3.12 - Nice Select Customization

    58. Footer Style CSS
----------------------------------------*/


/*=====================================
   01. Typography CSS
===================================== */

body {
    color: #555555;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

@media only screen and (max-width: 575.98px) {
    body {
        font-size: 15px;
    }
}


/* Remove text-shadow in selection highlight. */

::-moz-selection {
    background: #f2b636;
    color: #FFFFFF;
    text-shadow: none;
}

::selection {
    background: #f2b636;
    color: #FFFFFF;
    text-shadow: none;
}


/* A better looking default horizontal rule */

hr {
    border: 0;
    border-top: 1px solid #eee;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    overflow: visible;
}


/* Remove the gap between audio, canvas, iframes,images, videos */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/* Remove default fieldset styles. */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}


/* Allow only vertical resizing of textareas. */

textarea {
    resize: vertical;
}


/* Anchor Tag Default Style */

a {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    outline: none;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

textarea:focus,
textarea:active,
input:focus,
input:active {
    outline: none;
}


/* Paragraph Margin */

p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

strong,
b {
    font-weight: 700;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mtn-25 {
    margin-top: -25px;
}


/*
Header Style
*/

.header-wrapper {
    padding: 20px 0;
}

@media only screen and (max-width: 767.98px) {
    .header-wrapper {
        text-align: center;
        padding: 10px 0;
    }
}

.last-update-wrap {
    color: #4D4D4D;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .last-update-wrap {
        text-align: left;
    }
}

@media only screen and (max-width: 767.98px) {
    .last-update-wrap {
        text-align: left;
    }
}

@media only screen and (max-width: 767.98px) {
    .menubar {
        margin: 10px 0;
    }
}

.menubar .nav {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media only screen and (max-width: 767.98px) {
    .menubar .nav {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.menubar .nav li:not(:last-child) {
    margin-right: 70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .menubar .nav li:not(:last-child) {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 767.98px) {
    .menubar .nav li:not(:last-child) {
        margin-right: 20px;
    }
}

.menubar .nav li a {
    font-weight: 500;
    color: #171717;
}

@media only screen and (max-width: 767.98px) {
    .logo-wrap {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .logo-wrap {
        text-align: center;
        margin-bottom: 20px;
    }
}


/*=========================
Tracker Block Style
============================*/

.tracker-block {
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px;
    padding: 25px 0 25px 30px;
}

.tracker-block__icon {
    -webkit-flex-basis: 57px;
    -ms-flex-preferred-size: 57px;
    flex-basis: 57px;
    width: 57px;
    margin-right: 20px;
}

.tracker-block__content h4 {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400;
}

.tracker-block__content h2 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

.tracker-block__content h2 .new-no {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;
}

.tracker-block__header {
    border-bottom: 1px solid #ECECEC;
    color: #555555;
    font-size: 13px;
    padding: 30px;
}

@media only screen and (max-width: 767.98px) {
    .tracker-block__header {
        padding: 45px 30px 35px;
    }
}

.tracker-block__header h2 {
    font-size: 28px;
    font-weight: 400;
    color: #555555;
}

@media only screen and (max-width: 575.98px),
only screen and (min-width: 768px) and (max-width: 991.98px) {
    .tracker-block__header h2 {
        font-size: 24px;
    }
}

.tracker-block__header p {
    margin-bottom: 0;
}

.tracker-block__header.with-option {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 767.98px) {
    .tracker-block__header.with-option {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.tracker-block__header.with-option .select-country {
    position: relative;
}

@media only screen and (max-width: 767.98px) {
    .tracker-block__header.with-option .select-country {
        margin-top: 20px;
    }
}

.tracker-block__header.with-option .select-country select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.tracker-block__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 45px;
}

@media only screen and (max-width: 767.98px) {
    .tracker-block__body {
        padding: 30px;
    }
}

.tracker-block .track-item {
    -webkit-flex-basis: calc(100% / 3);
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    width: calc(100% / 3);
}

@media only screen and (max-width: 767.98px) {
    .tracker-block .track-item {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
    }
    .tracker-block .track-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.tracker-block .track-item:last-child {
    border-right: 0;
    margin-right: 0;
}

.tracker-block .track-item__title,
.tracker-block .track-item__no {
    font-weight: 400;
    color: #555555;
}

.tracker-block .track-item__title {
    font-size: 16px;
    margin-bottom: 10px;
}

.tracker-block .track-item__title-deaths {
    color: #F87D7D;
}

.tracker-block .track-item__title-recovered {
    color: #5BCC75;
}

.tracker-block .track-item__title-active {
    color: #5B7CFF;
}

.tracker-block .track-item__no {
    font-size: 28px;
    margin-bottom: 0;
}

.tracker-block--2 {
    display: block;
    padding: 0 15px;
}

.tracker-block--3 {
    background-color: #FFFFFF;
    border: 2px solid #DBDFEA;
    border-radius: 5px;
    display: block;
    padding: 0;
    margin-top: 0;
}

.tracker-block--3 .tracker-block__top {
    border-bottom: 2px solid #EFEFEF;
    color: #555555;
    font-size: 13px;
    padding: 37px 30px 30px;
}

.tracker-block--3 .tracker-block__top h4 {
    color: #222222;
    font-weight: 400;
    font-size: 18px;
}

.tracker-block--3 .tracker-block__top-total-cases {
    font-weight: 700;
    font-size: 30px;
    color: #333333;
}

.tracker-block--3 .tracker-block__top-title {
    color: #768BB4;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.tracker-block--3 .tracker-block__top .new-no {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.tracker-block--3 .tracker-block__bottom {
    padding: 30px;
}

.tracker-block--3 .tracker-block__bottom-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 450px;
    margin: auto;
    position: relative;
}

.tracker-block--3 .tracker-block__bottom-wrap:before {
    content: "";
    background-color: #E9E9E9;
    width: 2px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tracker-block--3 .tracker-block__bottom__item-title {
    font-size: 16px;
}

.tracker-block--3 .tracker-block__bottom__item-title.title-deaths {
    color: #F87D7D;
}

.tracker-block--3 .tracker-block__bottom__item-title.title-active {
    color: #FFAD5B;
}

.tracker-block--3 .tracker-block__bottom__item-title.title-recovered {
    color: #437CEF;
}

.tracker-block--3 .tracker-block__bottom__item-no {
    font-size: 17px;
    color: #555555;
}

.tracker-block--3 .tracker-block__bottom__item .new-no {
    font-size: 14px;
    font-weight: 400;
}

.tracker-block--3 .tracker-block__bottom__item.recovered-item {
    margin-top: 30px;
}

.tracker-block--4 {
    background-color: #222229;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 375px;
    height: 100vh;
    padding: 50px;
    margin-top: 0;
    overflow-x: auto;
}

@media only screen and (max-width: 575.98px) {
    .tracker-block--4 {
        width: 100%;
    }
}

.tracker-block--4 .tracker-block__body {
    display: block;
    padding: 0;
}

.tracker-block--4 .tracker-block__body .track-item {
    width: 100%;
    border-right: 0;
    margin-right: 0;
}

.tracker-block--4 .tracker-block__body .track-item:not(:last-child) {
    margin-bottom: 23px;
    padding-bottom: 25px;
    border-bottom: 1px solid #707070;
}

.tracker-block--4 .tracker-block__body .track-item__title,
.tracker-block--4 .tracker-block__body .track-item__no {
    color: #EFEFEF;
    text-transform: uppercase;
}

.tracker-block--4 .tracker-block__body .track-item__title {
    font-size: 16px;
}

.tracker-block--4 .tracker-block__body .track-item__no {
    font-size: 30px;
}

.tracker-block--5 {
    background-color: #222229;
    border-radius: 200px;
    padding: 32px 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (max-width: 767.98px) {
    .tracker-block--5 {
        border-radius: 10px;
    }
}

@media only screen and (max-width: 767.98px) {
    .tracker-block--5 {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.tracker-block--5 .track-item {
    -webkit-flex-basis: calc(25% - 20px);
    -ms-flex-preferred-size: calc(25% - 20px);
    flex-basis: calc(25% - 20px);
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .tracker-block--5 .track-item {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (max-width: 767.98px) {
    .tracker-block--5 .track-item:nth-child(1n+3) {
        margin-bottom: 0;
    }
}

.tracker-block--5 .track-item:not(:last-child) {
    margin-right: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (max-width: 767.98px) {
    .tracker-block--5 .track-item:not(:last-child) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (max-width: 767.98px) {
    .tracker-block--5 .track-item {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}

.tracker-block--5 .track-item__title,
.tracker-block--5 .track-item__no,
.tracker-block--5 .track-item__new {
    color: #FFFFFF;
    font-size: 13px;
}

.tracker-block--5 .track-item__title {
    margin-bottom: 5px;
}

.tracker-block--5 .track-item__no {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.tracker-block--5 .track-item__new {
    margin-bottom: 0;
}

.tracker-block--5.bg-yellow {
    background-color: #FFC260;
}

.tracker-block--6 {
    -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.16);
    padding: 0;
}

.tracker-block--6 .tracker-block__body {
    padding: 0;
    width: 100%;
}

.tracker-block--6 .tracker-block__body .track-item {
    margin-right: 0;
    -webkit-flex-basis: calc(100% / 3);
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    width: calc(100% / 3);
    padding: 75px 0 50px;
    border-right: 1px solid #ECECEC;
}

@media only screen and (max-width: 767.98px),
only screen and (min-width: 768px) and (max-width: 991.98px) {
    .tracker-block--6 .tracker-block__body .track-item {
        -webkit-flex-basis: calc(100% / 1);
        -ms-flex-preferred-size: calc(100% / 1);
        flex-basis: calc(100% / 1);
        width: calc(100% / 1);
        padding-top: 0;
        padding-bottom: 0;
    }
}

.tracker-block--6 .tracker-block__body .track-item__title {
    font-weight: 500;
}

.tracker-block--6 .tracker-block__body .track-item__no {
    font-size: 40px;
}

@media only screen and (max-width: 767.98px) {
    .tracker-block--6 .tracker-block__body .track-item__no {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767.98px) {
    .tracker-block--6 .tracker-block__body .track-item:first-child {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .tracker-block--6 .tracker-block__body .track-item:first-child {
        padding-top: 60px;
    }
}

.tracker-block--6 .tracker-block__body .track-item:last-child {
    border-right: 0;
}

@media only screen and (max-width: 767.98px) {
    .tracker-block--6 .tracker-block__body .track-item:last-child {
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .tracker-block--6 .tracker-block__body .track-item:last-child {
        padding-bottom: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .tracker-block--6 .tracker-block__body .track-item:not(:last-child) {
        margin-bottom: 60px;
    }
}

.tracker-block--6 .tracker-block__body .track-item-report {
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 30px;
    padding-bottom: 65px;
}

@media only screen and (max-width: 767.98px),
only screen and (min-width: 768px) and (max-width: 991.98px) {
    .tracker-block--6 .tracker-block__body .track-item-report {
        padding-bottom: 30px;
    }
}

.tracker-block--6 .tracker-block__body .track-item-chart .track-item__title {
    margin-bottom: 20px;
}

.tracker-block--6 .tracker-block__body .track-item-report,
.tracker-block--6 .tracker-block__body .track-item-chart {
    padding-right: 30px;
    padding-left: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .tracker-block--6 .tracker-block__body .track-item-report,
    .tracker-block--6 .tracker-block__body .track-item-chart {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 767.98px) {
    .tracker-block--6 .tracker-block__body .track-item-report,
    .tracker-block--6 .tracker-block__body .track-item-chart {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.cases-by-country {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #DBDFEA;
    padding: 28px 10px;
}

@media only screen and (max-width: 767.98px),
only screen and (min-width: 768px) and (max-width: 991.98px) {
    .cases-by-country {
        margin-bottom: 30px;
    }
}

.cases-by-country__top {
    position: relative;
    margin: 0 15px 20px;
}

.cases-by-country__top .header-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #DBDFEA;
}

.cases-by-country__top h4 {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.cases-country-lists {
    max-height: 635px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cases-country-lists::-webkit-scrollbar {
    width: 8px;
}

.cases-country-lists::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.cases-country-lists::-webkit-scrollbar-thumb {
    background: #888;
}

.cases-country-lists::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cases-country-lists li {
    border-radius: 5px;
    color: #4D4D4D;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 15px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.cases-country-lists li:not(:last-child) {
    margin-bottom: 5px;
}

.cases-country-lists li:hover {
    background-color: #E6EDF6;
}

.cases-country-lists li .country-name {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}

.btn-show-all,
.btn-collapse {
    border: 1px solid #DBDFEA;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: center;
    max-width: 200px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
}

.btn-collapse {
    display: none;
}

.search-box {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -17px;
    background: #FFFFFF;
}

.search-box label {
    margin-bottom: 0;
    display: block;
}

.search-box input {
    border: 1px solid #DBDFEA;
    border-radius: 3px;
    display: block;
    padding: 5px 10px;
    width: 100%;
}

.list-view {
    background-color: #F7F8FA;
    border: 2px solid #DBDFEA;
    border-radius: 5px;
}

.list-view__head {
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom: 2px solid #DBDFEA;
}

.list-view__head tr th {
    border: none;
    border-right: 1px solid #EBEBEB;
    border-bottom: 0 !important;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    padding: 15px 10px !important;
    white-space: nowrap;
}

.list-view__head tr th:last-child {
    border-right: none;
}

.list-view__body tr {
    padding: 0 10px;
}

.list-view__body tr.worldwide-item td {
    background-color: #E6EDF6 !important;
}

.list-view__body tr td {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background-color: #F7F8FA !important;
    border-top: 0 !important;
    border-bottom: 2px solid #C4E7F0;
    padding: 16px 0 !important;
    white-space: nowrap;
}

.list-view__body tr td:first-child {
    text-align: left;
    padding-left: 15px !important;
}

.list-view__body tr td img {
    width: 30px;
    margin-right: 15px;
}

.list-view__table {
    position: relative;
}

.list-view .dataTables_filter {
    margin-top: 10px;
    margin-right: 10px;
}

.list-view .dataTables_filter input {
    border: 1px solid #C4E7F0;
    padding: 5px 10px;
    width: 300px;
    outline: none;
}

.list-view .dataTables_length {
    display: none;
}

.list-view .dataTables_length select {
    border: 1px solid #C4E7F0;
    padding: 5px 10px;
    outline: none;
    margin: 0 5px;
}

.list-view .dataTables_wrapper .dataTables_paginate {
    padding-top: 0;
    padding-bottom: 10px;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button {
    background-color: transparent;
    border: 1px solid #C4E7F0 !important;
    display: inline-block;
    margin: 0 5px;
    padding: 3px 10px;
    font-size: 13px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
    background: #0F0D1A !important;
    border-color: #0F0D1A !important;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    background: #0F0D1A !important;
    border-color: #0F0D1A !important;
    color: #FFFFFF !important;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
    color: #fff !important;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.previous,
.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.next {
    text-indent: -9999px;
    position: relative;
    height: 28px;
    width: 29px;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.previous:before,
.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.next:before {
    text-indent: 0;
    left: 8px;
    top: 5px;
    position: absolute;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.previous.disabled,
.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.next.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.previous:before {
    content: '<';
}

.list-view .dataTables_wrapper .dataTables_paginate a.paginate_button.next:before {
    content: '>';
    left: 9px;
}

.list-view .dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0;
    width: 20px;
    text-align: center;
}

.list-view .dataTables_wrapper .dataTables_info {
    padding-top: 0;
    padding-left: 15px;
}

.list-view table.dataTable.display tbody tr.odd>.sorting_1,
.list-view table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: transparent;
}

.list-view table.dataTable.no-footer {
    border: none;
    margin-bottom: 10px;
}

.list-view table.dataTable thead .sorting_asc,
.list-view table.dataTable thead .sorting_desc,
.list-view table.dataTable thead .sorting {
    background-image: none;
}

.activities-wrap {
    background-color: #FFFFFF;
    padding: 20px 0 20px 50px;
    border: 2px solid #DBDFEA;
    border-radius: 5px;
}

.activities-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 35px;
}

.activities-block-item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
}

.activities-block-item:nth-child(1n+3) {
    margin-top: 35px;
}

.activities-block-item h6 {
    color: #171717;
    font-size: 14px;
    font-weight: 400;
}

.activities-block-item h4 {
    font-size: 22px;
    color: #171717;
    margin-bottom: 0;
}

.chart--2,
.chart--3 {
    position: absolute;
}

.chart--1 {
    position: relative;
}

.chart--2 {
    top: 28px;
    left: 28px;
}

.chart--3 {
    top: 28px;
    left: 28px;
}

.chart-wrap canvas {
    background-color: #EFF3F8;
}

.chart-status-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 767.98px) {
    .chart-status-top {
        display: block;
        margin-bottom: 20px;
    }
}

.chart-status-top .country-select select {
    background-color: transparent;
    border: none;
    color: #617287;
    font-size: 14px;
    outline: none;
}

.corona-chart-stats {
    margin-bottom: 50px;
}

.map-status-wrap {
    background-color: #FFFFFF;
    padding: 40px 30px;
}

@media only screen and (max-width: 767.98px),
only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .map-status-wrap {
        margin-top: 30px;
    }
}

.map-status-wrap .map-status {
    height: 400px;
    width: 100%;
}

@media only screen and (max-width: 767.98px) {
    .map-status-wrap .map-status {
        height: 250px;
    }
}

.map-status-colors {
    margin-bottom: 22px;
}

.map-status-colors .colors {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.map-status-colors .colors li {
    font-size: 18px;
    color: #4D4D4D;
}

.map-status-colors .colors li:not(:last-child) {
    margin-right: 20px;
}

.map-status-colors .colors li span {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.map-status-colors .colors li span.min {
    background-color: #ACCDDC;
}

.map-status-colors .colors li span.mid {
    background-color: #4A97B9;
}

.map-status-colors .colors li span.max {
    background-color: #006491;
}

.map-content-wrap {
    position: absolute;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 767.98px) {
    .map-content-wrap {
        position: static;
        width: 100%;
        height: 500px;
    }
}

.map-content-wrap .tracker-block__body {
    height: 100%;
}

.map-content-wrap::-webkit-scrollbar {
    width: 5px;
}

.map-content-wrap::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.map-content-wrap::-webkit-scrollbar-thumb {
    background: #888;
}

.map-content-wrap::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.map-content-wrap .select-country {
    margin-bottom: 40px;
}

.map-content-wrap .select-country .dropdown-toggle {
    color: #FFFFFF;
}

.map-content-wrap .select2-selection--single {
    background-color: transparent;
}

.map-content-wrap .select2-selection__rendered {
    color: #FFFFFF !important;
    font-size: 16px !important;
}

.map-content-wrap .select2-selection__rendered img {
    margin-right: 10px;
}

.corona-map-tracker {
    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 767.98px) {
    .corona-map-tracker {
        height: 400px;
    }
}

.badge-item {
    background-color: #DFFFF3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .badge-item {
        display: block;
    }
}

.badge-item p {
    margin-bottom: 0;
}

.badge-item__title {
    background-color: #5178E6;
    color: #FFFFFF;
    padding: 16px 35px;
    -webkit-flex-basis: 250px;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
    width: 250px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .badge-item__title {
        width: 100%;
    }
}

.badge-item__title--2 {
    position: relative;
    background-color: transparent;
    z-index: 1;
}

.badge-item__title--2:before {
    background-color: #5178E6;
    content: '';
    width: calc(100% - 24px);
    height: 100%;
    position: absolute;
    left: 12px;
    top: 0;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}

.badge-item__title--3 {
    border-radius: 0 100px 100px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .badge-item__title--3 {
        border-radius: 0;
    }
}

.badge-item__body {
    -webkit-flex-basis: calc(100% - 250px);
    -ms-flex-preferred-size: calc(100% - 250px);
    flex-basis: calc(100% - 250px);
    width: calc(100% - 250px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 18px 20px 18px 50px;
    color: #414141;
    font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .badge-item__body {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 767.98px) {
    .badge-item__body {
        width: 100%;
        display: block;
        padding: 30px 20px;
    }
}

.badge-item__block {
    position: relative;
    padding-left: 40px;
    margin-left: 40px;
}

@media only screen and (max-width: 767.98px) {
    .badge-item__block {
        padding-left: 0;
        margin-left: 0;
    }
    .badge-item__block:not(:last-child) {
        margin-bottom: 20px;
    }
}

.badge-item__block:first-child {
    padding: 0;
    margin-left: 0;
}

.badge-item__block:first-child:before {
    display: none;
}

.badge-item__block:before {
    background-color: #7AEEC2;
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    height: 30px;
    width: 1px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .badge-item__block:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 767.98px) {
    .badge-item__block:before {
        display: none;
    }
}

.badge-bg-yellow {
    background-color: #FFD082;
}

.badge-bg-yellow .badge-item__block:before {
    background-color: #FF7C7C;
}

.badge-bg-green {
    background-color: #F1FCFC;
}

.badge-title-bg-black {
    background-color: #21243D;
}

.badge-title-bg-turquoise {
    background-color: #40E0D0;
}

.title-top {
    margin-bottom: 50px;
}

.title-top h2 {
    font-size: 26px;
    color: #4D4D4D;
    margin-bottom: 0;
}

.badge-tracker-item:not(:last-child) {
    margin-bottom: 60px;
}

.body-dark .header-wrapper {
    background-color: #1D1C22;
}

.body-dark .header-wrapper .last-update-wrap {
    color: #FFFFFF;
}

.body-dark .header-wrapper .menubar li a {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper {
    background-color: #292833;
}

.body-dark .main-content-wrapper .tracker-block:not(.bg-yellow) {
    background-color: #1D1C22;
}

.body-dark .main-content-wrapper .tracker-block__content h2,
.body-dark .main-content-wrapper .tracker-block__content h4,
.body-dark .main-content-wrapper .tracker-block__content .new-no {
    color: #CCCCCC;
}

.body-dark .main-content-wrapper .tracker-block__body .track-item__title:not(.track-item__title-deaths):not(.track-item__title-recovered) {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .tracker-block__body .track-item__no {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .tracker-block--2 .tracker-block__header {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .tracker-block--2 .tracker-block__header h2 {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .tracker-block--3 {
    border-color: #1D1C22;
}

.body-dark .main-content-wrapper .tracker-block--3 .tracker-block__top {
    border-bottom-color: #3F3E50;
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .tracker-block--3 .tracker-block__top h4,
.body-dark .main-content-wrapper .tracker-block--3 .tracker-block__top-total-cases {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .tracker-block--3 .tracker-block__bottom-wrap::before {
    background-color: #3F3E50;
}

.body-dark .main-content-wrapper .tracker-block--3 .tracker-block__bottom__item-no,
.body-dark .main-content-wrapper .tracker-block--3 .tracker-block__bottom__item .new-no {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .tracker-block .select2-container--default .select2-selection--single {
    background-color: transparent;
    border-color: #CFCFCF;
}

.body-dark .main-content-wrapper .tracker-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #CFCFCF;
}

.body-dark .main-content-wrapper .map-status-wrap {
    background-color: #1D1C22;
}

.body-dark .main-content-wrapper .map-status-wrap .colors li {
    color: #B7B7B7;
}

.body-dark .main-content-wrapper .cases-by-country {
    background-color: #1D1C22;
    border-color: #1D1C22;
}

.body-dark .main-content-wrapper .cases-by-country__top h4 {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .cases-by-country .cases-country-lists li {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .cases-by-country .cases-country-lists li:hover {
    background-color: #292833;
}

.body-dark .main-content-wrapper .cases-by-country button[class*='btn-'] {
    background-color: #292833;
    border-color: #292833;
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .list-view {
    background-color: #1D1C22;
    border-color: #1D1C22;
}

.body-dark .main-content-wrapper .list-view__head {
    background-color: #1D1C22;
}

.body-dark .main-content-wrapper .list-view__head th {
    color: #FFFFFF;
    border-right-color: #3F3E50;
}

.body-dark .main-content-wrapper .list-view__body tr:first-child td {
    border-top: 2px solid #3F3E50 !important;
}

.body-dark .main-content-wrapper .list-view__body tr td {
    background-color: #1D1C22 !important;
    border-bottom-color: #3F3E50;
    color: #CCCCCC;
}

.body-dark .main-content-wrapper .list-view .dataTables_info {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .list-view .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #ddd !important;
}

.body-dark .main-content-wrapper .list-view .dataTables_filter {
    color: #CCCCCC;
}

.body-dark .main-content-wrapper .list-view .dataTables_filter input {
    background-color: #292833;
    border-color: #292833;
    color: #ccc;
}

.body-dark .main-content-wrapper .report-item h3 {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .country-select select {
    color: #CCCCCC;
}

.body-dark .main-content-wrapper .country-select select option {
    color: #000000;
}

.body-dark .main-content-wrapper .activities-wrap {
    background-color: #1D1C22;
    border-color: #1D1C22;
}

.body-dark .main-content-wrapper .activities-wrap .activities-block-item h6,
.body-dark .main-content-wrapper .activities-wrap .activities-block-item h4 {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .chart-wrap canvas {
    background-color: #1D1C22;
}

.body-dark .main-content-wrapper .map-widget #tracker-map {
    background-color: #292833 !important;
}

.body-dark .main-content-wrapper .title-top h2 {
    color: #FFFFFF;
}

.body-dark .main-content-wrapper .mini-chart canvas {
    background-color: #222229 !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.875rem;
}

@media screen and (min-width: 1680px) {
    .container {
        max-width: 1620px;
    }
}

.main-content-wrapper {
    background-color: #F7F8FC;
    padding: 90px 0;
}

@media only screen and (max-width: 767.98px) {
    .main-content-wrapper {
        padding: 60px 0;
    }
}

.img-flag {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.img-flag.global {
    width: 15px;
}

.select2-container--default .select2-selection--single {
    border-color: #ECECEC;
    height: 35px;
}

.select2-container--default .select2-selection--single:focus {
    outline: 1px solid #222222;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px;
}

.content-section-2,
.content-section-3 {
    margin-top: 50px;
}

@media only screen and (max-width: 767.98px),
only screen and (min-width: 768px) and (max-width: 991.98px) {
    .report-item {
        margin-top: 30px;
    }
}

.report-item h3 {
    color: #4D4D4D;
    font-size: 18px;
    margin-bottom: 25px;
}