{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid Tracker - Coronavirus Stats </title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400&amp;display=swap" rel="stylesheet">

    <!-- build:css assets/css/app.min.css -->
    <!--== jqvmap Min CSS ==-->
    <link href="/static/assets/css/jqvmap.min.css" rel="stylesheet" />
    <!--== ChartJS Min CSS ==-->
    <link href="/static/assets/css/chart.min.css" rel="stylesheet" />
    <!--== DataTables Min CSS ==-->
    <link href="/static/assets/css/datatables.min.css" rel="stylesheet" />
    <!--== Select2 Min CSS ==-->
    <link href="/static/assets/css/select2.min.css" rel="stylesheet" />
    <!--== Bootstrap Min CSS ==-->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="/static/assets/css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="{% static '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
    <script src="{% static '//oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 16px Arial;
        }

        /*the container must be positioned relative:*/
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }

            input[type=text] {
                background-color: #f1f1f1;
                width: 100%;
            }

            input[type=submit] {
                background-color: DodgerBlue;
                color: #fff;
                cursor: pointer;
            }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

            .autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }

                /*when hovering an item:*/
                .autocomplete-items div:hover {
                    background-color: #e9e9e9;
                }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>
</head>

<body class="body-dark" onload="startTime()">
    <!--== Start Header Wrapper ==-->
    <header class="header-wrapper">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4">
                    <div class="logo-wrap">
                        <a style="display:inline" href="{% url 'home' %}"><h2>COVID TRACKER</h2></a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="last-update-wrap">
                        <p class="mb-0" id="txt">Update: <span class="last-update"></span></p>
                    </div>
                </div>

                <!--<div class="col-sm-6 col-lg-4">
                    <div class="navbar-wrap">
                        <nav class="menubar">
                            <ul class="nav">
                                <li><a href="index-dark.html">Dashboard</a></li>
                                <li><a href="map-dark.html">Map</a></li>
                                <li><a href="badge-dark.html">Badge</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>-->
            </div>
        </div>
    </header>
    <!--== End Header Wrapper ==-->
    <!--== Start Main Content Wrapper ==-->
    <main class="main-content-wrapper" id="main">
        <div class="content-section-1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="row mtn-25 worldwide-stats">
                            {% for item in world %}
                            <div class="col-sm-12">
                                <div class="tracker-block-style-1">
                                    <div class="tracker-block">
                                        <div class="tracker-block__icon">
                                            <img src="{% static 'assets/img/corona-icon-red.png' %}" alt="corona-icon" />
                                        </div>
                                        <div class="tracker-block__content">
                                            <h4>Coronavirus Cases</h4>
                                            <h2>
                                                <span class="cases-no infected">{{item.TotalCases}}</span> <!--<span class="new-no">(+<span class="today_infected">000,000</span>)--></span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="tracker-block-style-1">
                                    <div class="tracker-block">
                                        <div class="tracker-block__icon">
                                            <img src="{% static 'assets/img/corona-icon-green.png' %}" alt="corona-icon" />
                                        </div>
                                        <div class="tracker-block__content">
                                            <h4>Total Recovered</h4>
                                            <h2>
                                                <span class="cases-no recovered">{{item.TotalRecovered}}</span> <span class="new-no">
                                                    <!--(+<span class="today_recovered">000,000</span>)-->
                                                </span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="tracker-block-style-1">
                                    <div class="tracker-block">
                                        <div class="tracker-block__icon">
                                            <img src="{% static 'assets/img/corona-icon-red.png' %}" alt="corona-icon" />
                                        </div>
                                        <div class="tracker-block__content">
                                            <h4>Total Death</h4>
                                            <h2>
                                                <span class="cases-no deaths">{{item.TotalDeath}}</span>
                                                <!--<span class="new-no">(+<span class="today_deaths">000,000</span>)</span>-->
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="tracker-block-style-1">
                                    <div class="tracker-block">
                                        <div class="tracker-block__icon">
                                            <img src="{% static 'assets/img/corona-icon-red.png' %}" alt="corona-icon" />
                                        </div>
                                        <div class="tracker-block__content">
                                            <h4>Active Cases</h4>
                                            <h2><span class="cases-no current_cases">{{item.ActiveCases}}</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="tracker-block-style-1">
                                <div class="tracker-block">
                                    <div class="tracker-block__icon">
                                        <img src="{% static 'assets/img/corona-icon-red.png' %}" alt="corona-icon" />
                                    </div>
                                    <div class="tracker-block__content">
                                        <h4>Critical Cases</h4>
                                        <h2><span class="cases-no current_cases">{{item.SeriousCritical}}</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 country-choose-stats">
                                <div class="tracker-block tracker-block--2">
                                    <div class="tracker-block__header with-option">
                                        <div class="section-head">
                                            <h2>Coronavirus(COVID-19)</h2>
                                            <p>Updated <span class="last-update"></span> per request</p>
                                        </div>

                                    </div>

                                    <div class="col-12 tracker-block__body">
                                        <div class="track-item">
                                            <p class="track-item__title">Confirmed</p>
                                            <h4 class="track-item__no infected">{{item.NewCases}}</h4>
                                        </div>

                                        <div class="track-item">
                                            <p class="track-item__title track-item__title-deaths">Deaths</p>
                                            <h4 class="track-item__no deaths">{{item.NewDeath}}</h4>
                                        </div>

                                        <div class="track-item">
                                            <p class="track-item__title track-item__title-recovered">Recovered</p>
                                            <h4 class="track-item__no recovered">{{item.NewRecovered}}</h4>
                                        </div>

                                    </div>
                                </div>
                            </div>{%endfor%}
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="map-status-wrap" id="map-status-report">
                            <div class="map-status-colors">
                                <div class="map-widget map-report position-relative map-report" style="margin-top:-15px">
                                    <div class="corona-map-tracker" id="tracker-map"></div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-2">

            <div>
                <div class="list-view table-responsive" id="list-view">
                    <table class="list-view__table display table" id="example" width="100%" style="background-color:lightgray !important">
                        <thead class="list-view__head">
                            <tr>
                                <th>Country</th>
                                <!--<th>Population</th>-->
                                <th>Total Cases</th>
                                <th>New Cases</th>
                                <th>Total Deaths</th>
                                <th>Fatality Rate %</th>
                                <th>New Deaths</th>
                                <th>Newly Recovered </th>
                                <th>Total Recovered</th>

                                <th>Active Cases</th>
                                <th>Critical</th>
                            </tr>
                        </thead>

                        <tbody class="list-view__body">
                            {% for item in country %}
                            <tr>
                                <td>{{item.country}}</td>
                                <!--<td>{{item.Population}}</td>-->
                                <td>{{item.TotalCases}}</td>
                                <td>{{item.NewCases}}</td>
                                <td>{{item.TotalDeath}}</td>
                                <td>{{item.Fatality}} %</td>
                                <td>{{item.NewDeath}}</td>
                                <td>{{item.NewRecovered}}</td>
                                <td>{{item.TotalRecovered}}</td>
                                <td>{{item.ActiveCases}}</td>
                                <td>{{item.SeriousCritical}}</td>

                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>




                </div>
            </div>
        </div>
        </div>
        </div>
        </div>



    </main>
    <!--== End Main Content Wrapper ==-->
    <!--=======================Javascript============================-->
    <!-- build:js assets/js/app.min.js -->
    <!--=== Modernizr Min Js ===-->
    <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
    <!--=== jQuery Min Js ===-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <!--=== jQuery Migration Min Js ===-->
    <script src="{% static 'assets/js/jquery-migrate.min.js' %}"></script>
    <!--=== Popper Min Js ===-->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!--=== Select2 Min Js ===-->
    <script src="{% static 'assets/js/select2.full.min.js' %}"></script>
    <!--=== Data Table Min Js ===-->
    <script src="{% static 'assets/js/datatables.min.js' %}"></script>
    <!--=== ChartJS Min Js ===-->
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <!--=== jQuery Vector Map Min Js ===-->
    <script src="{% static 'assets/js/jquery.vmap.min.js' %}"></script>
    <!--=== jQuery Vector World Min Js ===-->
    <script src="{% static 'assets/js/jquery.vmap.world.js' %}"></script>
    <script>
    $(document).ready(function () {
            $('#example').DataTable({

            });
        });</script>
    <script>
        function startTime() {
            const today = new Date();
            let h = today.getHours();
            let m = today.getMinutes();
            let s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
            setTimeout(startTime, 1000);
        }

        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>


    <!--=== APP Js ===-->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!--=== Active Js ===-->
    <script src="{% static 'assets/js/active.js' %}"></script>

    <!-- endbuild -->
</body>



</html>